<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <ul class="menu">
      <li><%= link_to 'Магазин', items_index_path  %></li>
      <li><a href="#">О нас</a></li>
    </ul>
  </header>
    <%= yield %>
  </body>
</html>
